<div class="container">
  <h1>Restaurantes</h1>
  <a class="btn" ng-hide="adding" ui-sref="restaurants.add">+</a>

  <table>
    <thead>
      <th>id</th>
      <th>nome</th>
      <th>createdAt</th>
      <th>updatedAt</th>
      <th>lastWin</th>
    </thead>
    <tbody>
      <tr ng-repeat="restaurant in restaurants">
        <td>
          {{restaurant.id}}
        </td>
        <td>
          {{restaurant.name}}
        </td>
        <td>
          {{restaurant.createdAt}}
        </td>
        <td>
          {{restaurant.updatedAt}}
        </td>
        <td>
          {{restaurant.lastWin|| 'Neva :('}}
        </td>
        <td>
          <a class="btn" ui-sref="restaurants.edit({ id: restaurant.id })">Edit</a>
        </td>
        <td>
          <a class="btn" ng-click="remove(restaurant)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div ng-show="restaurants.length === 0">Looks like you haven't added any restaurants yet?</div>

</div>
