<div class="container">
  <h1>Surveys</h1>
  <a ng-hide="adding" class="btn" ui-sref="surveys.add">+</a>
  <table>
    <th>
      id
    </th>
    <th>
      createdAt
    </th>
    <th>
      winner
    </th>
    <th>
      votes
    </th>
    <tbody>
      <tr ng-repeat="survey in surveys">
        <td>
          {{survey.id}}
        </td>
        <td>
          {{survey.createdAt | date :'dd/MM/yyyy  h:m'}}
        </td>
        <td>
          {{survey.winner}}
        </td>
        <td>
          {{survey.votes.length}}
        </td>
        <td>
          <a class="btn" href="" ui-sref="surveys.edit({ id: survey.id })">Edit</a>
        </td>
        <td>
          <a class="btn" href="" ng-click="remove(survey)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show="surveys.length === 0">Looks like you haven't added any surveys yet?</div>
</div>
